.weekdayContainer {
  width: 100%;
  display: flex;
}

.weekday {
  flex: 1 1 0;
}

.eventColsContainer {
  width: 100%;
  display: flex;
}

.eventCol,
.timetablesContainer {
  flex: 1 1 0;
}

.eventSlot,
.timetable {
  border-top: 1px solid #dadce0;
  border-right: 1px solid #dadce0;
}

.timeSpan {
  font-size: 8px;
  position: relative;
  top: -14px;
}
